body {
    position: relative;
    background-color: #ffffff;
    /* Transition background after splash div loads*/
    -webkit-transition: background-color 0.09s;
    -moz-transition: background-color 0.09s;
    -ms-transition: background-color 0.09s;
    -o-transition: background-color 0.09s;
    transition: background-color 0.09s;
}
.center-align {
    margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
}
h1 {
    font-size: 5.9vw;
}
.dark-overlay h1 {
    font-size: 5.9vw;
    color: #ffffff;
}
h2 {
    font-size: 3.0vh;
}
h3 {
    font-size: 2.3vw;
}
p {
     font-size: 2vmin;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
@media only screen
and (max-width: 576px) {
    p {
        font-size: 3vmin;
    }
}
.img-responsive {
    display: inline-block !important;
}
.white-text {
    color: #ffffff;
}
.grey-text {
    color : #6e6e6e;
}
.media-object {
    display: block;
    border-radius: 64px;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 1);
}

.media-right {
    padding-left: 10px;
    padding-right: 5px;
}

.depth-large {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 26px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

/* Navbar transition fade for btns */
.nav > li > a {
    -webkit-transition: background linear 350ms;
    -moz-transition: background linear 350ms;
}

.active {
    color: #ffffff;
    background-color: #208df3;
    text-decoration: underline;
}

.dark-overlay {
    color: #fff;
}
.white {
    color: #ffffff;
}
.dark-overlay h1 h3 {
    color: #ffffff;
}

.navbar-inverse .navbar-brand {
    color: #fff !important;
}

/*
body > .btn {
    transition: all 0.5s ease 0s;
}*/

/********************  Loading Page Overlay ************************/
.loadFont {
    font-family: 'Poiret One', cursive;
    font-size:62px;
    margin-bottom: 0;

}
/* Progress transition */
/* Progress Bar Placement & Styling */
.progressive {
}

.progress {
    border-radius: 20px;
    margin-bottom:8px;
    background-color: transparent;
}

.prog-1, .prog-2, .prog-3 {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.prog-1 {
    background-color: #2d3af3;
}

.prog-2 {
    background-color: #ff9800;
}
.prog-3 {
    background-color: #b9151b;
}
#fadediv {
    display:none;
    position: relative;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    /*margin-left: -100px;*/
    z-index: 1050 !important;
}
#middle-progress {
    height: 50px;
    border-radius: 2px !important;
}

.load-time {
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -ms-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
}
.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255,1);
    z-index: 1200;
}
.blue-text {
    color: #032F60;
    font-family: SansSerif;
}
.load-title {
    font-size: 5vw;
    margin-bottom: -15px!important;
}
.load-title2 {
    font-size: 4vw;
    margin-bottom: 0!important;
}
/* Stop scrolling class for overlay div */
.stop-scrolling {
    height:100%;
    overflow: hidden;
}
/* End progress styling */

.popover-title{
    background: #ffff99;
    color: #0c84e4;
}

/* Parrallax Styling */
.parallax {
    background: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5e2cbf8fc0f617f10d40fbf59797b524") no-repeat;
    /*background: url("../images/notes.jpeg") no-repeat;*/
    position: fixed;
    width: 100%;
    margin-top: 5px;
    left: 0;
    background-size: 100%;
    background-position: 0 0;
    height: 100%;
    z-index: -99;
    margin-bottom:0;
}
.jumbotron {
    padding-top: 100px;
    padding-left: 30px;
    margin-top: 50px;
    height: 500px;
    background: transparent;
}
@media only screen
and (max-width: 414px) {
    .jumbotron {
        padding-top:50px;
        padding-left: 30px;
        background: transparent;
        height: 245px;
    }
    .jumbotron>p>a {
        margin-top: -10px;
    }
}

@media only screen
and (min-width: 415px)
and (max-width: 686px) {
    .jumbotron {
        padding-top:70px;
        padding-left: 30px;
        background: transparent;
        height: 300px;
        margin-top: 30px;
    }
}
@media only screen
and (min-width: 687px)
and (max-width: 788px) {
    .jumbotron {
        padding-bottom:0;
        padding-left: 30px;
        background: transparent;
        height: 300px;
        margin-top: 30px;
    }
}


.dark-overlay {
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 1);
}

.btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

}
/*
.dark-overlay {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 14px;
    margin-right: 80px;
    transition: background-color 2s;
}
/*
.dark-overlay:hover {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
} */
/**********************************/
#team {
    padding-top: 60px;
    padding-bottom:60px;
    color: #ffffff;
    background-color: #0c84e4;
    transition: background-color 1.2s ease-in-out;
}

#team:hover {
    background-color: #0a62ad;
}
.team-title {
    margin-bottom: 60px;
}

.media-heading {
    color: #fdfff9 !important;
    border-bottom: 2px solid #5fdfff;
}

blockquote:not(.blockquote-reverse) {;
    border-left: 5px solid #adcfee !important;
}
.blockquote-reverse, blockquote.pull-right {
    border-right: 5px solid #adcfee !important;
}
/**********************************/
#proposal {
    padding-top: 60px;
    padding-bottom:60px;
    color: #ffffff;
    background-color: rgba(12, 56, 119, 0.55);
}
.proposal-bckgrnd {
    /*background: url("https://hd.unsplash.com/photo-1454166155302-ef4863c27e70") center no-repeat;
    width: 100%;
    left: 0;
    background-size: 100%;
    height: 100%;*/

}

.panel-body {
    overflow-x: scroll;
}

.panel {
    background-color: rgba(232, 232, 232, 0.32);
}
.embed-pdf {
    position: relative;
    z-index: 1;
}
@media only screen
and (min-width: 1130px) {
    .embed-pdf {
        width: 850px;
    }
    .clear-overlay1 {
        width:850px;
    }
    .clear-overlay2 {
        width:850px;
    }
}
/* PDF OVERLAY */
.clear-overlay1 {
    display: block;
    height:1125px;
    width: 95%;
    /*background-color: rgba(253, 255, 249, 0.48);*/
    background-color: rgba(0, 0, 0, 0.04);
    z-index: 500;
    margin-top: -1132px;
    position: absolute;
}
.clear-overlay2 {
    display: block;
    height:1125px;
    width: 95%;
    /*background-color: rgba(253, 255, 249, 0.48);*/
    background-color: rgba(0, 0, 0, 0.04);
    z-index: 500;
    margin-top: -1132px;
    position: absolute;
}
/* Changes width of overlay */
@media only screen
and (max-width: 550px) {
    .clear-overlay1 {
        width: 89%;
    }
    .clear-overlay2 {
        width: 89%;
    }
}
/* button for overlay */
#show-btn {
    margin-top: 500px;
    padding: 40px;
}
/* Button overlay for tech doc */
#show-btn2 {
    margin-top: 500px;
    padding: 40px;

}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.846;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
}
.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #666666;
    background-color: #ffffff;
    -webkit-transition: background linear 350ms;
    -moz-transition: background linear 350ms;
    cursor: default;
}

.nav-tabs > li > a {
    margin-right: 0;
    line-height: 1.846;
    border: 1px solid transparent;
    border-radius: 0 0 0 0;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs {
    text-align:center;
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 3px;
}

.tab-content > .tab-pane {
    display: none;

}
.tab-content > .active {
    display: block;
    background-color: #ffffff;
    color: #666666;
    text-decoration: none;
}

.tab-content {
    padding-left: 20px;
    padding-right: 20px;
}
.modal-p {
    color: #666666;
}
/* Modal Open - On Windows Chrome the scroll bar
   disappears - creating a padding on the right */
.modal-open {
    padding-right: 0!important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #0b60aa;
    border-color: #2196f3;
    text-decoration: none;
}
/**********************************/
#prototype {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #ffffff;
    background-color: #0c84e4;
}

.proto-color {
    color: #fbf4f4;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
/*.long-col:hover ~ .proto-head>h5>.proto-color {
    color: #fffb17 !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}*/

.c-login {
    display: inherit !important;
}

.col-img {
    padding-left: 0;
    padding-right: 0;
}

.long-col {
    margin-top: 30px;
}

.proto-spacing {
    margin-top: 40px;
}
@media only screen
and (max-width: 1399px) {
    #prototype>.row {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media only screen
and (min-width: 1400px) {
    #prototype>.row {
        margin-left: 80px;
        margin-right: 80px;
    }
}
@media only screen
and (min-width: 1500px) {
    #prototype>.row {
        margin-left: 120px;
        margin-right: 120px;
    }
}
/**********************************/
#documentation {
    padding-top: 60px;
    padding-bottom:60px;
    color: #ffffff;
    background-color: rgba(16, 16, 16, 0.63);
}
/**********************************/
#dbdiagram {
    padding-top: 60px;
    padding-bottom:60px;
    color: #ffffff;
    background-color: #08508b;
}

.diagram-txt {
    margin-left: 88px;
}

/* CLEAR WHEN LOADING C# DB DIAGRAM!!!!!!!!!! */
.opac-invalid {
    opacity: 0.3;
}

.text-pdng {
    margin-top: 34px;
}
/*************************************/
#timeline {
    padding: 60px 0 60px 0 !important;
    color: #ffffff;
    -webkit-transition: background .7s ease-in-out;
    -moz-transition: background .7s ease-in-out;
    -ms-transition: background .7s ease-in-out;
    -o-transition: background .7s ease-in-out;
    transition: background .7s ease-in-out;
    /*background-color: #0c84e4; */
  /*  background: -moz-linear-gradient(top, rgba(12,132,228,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(12,132,228,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(12,132,228,0.65) 0%,rgba(0,0,0,0) 100%);  */
    background: -moz-linear-gradient(top, rgba(12,132,228,0.65) 0%, rgba(12,132,228,0.65) 2%, rgba(12,132,228,0.64) 5%, rgba(12,132,228,0.64) 7%, rgba(12,132,228,0.63) 10%, rgba(12,132,228,0.63) 12%, rgba(12,132,228,0.63) 14%, rgba(12,132,228,0.62) 17%, rgba(12,132,228,0.61) 20%, rgba(12,132,228,0.61) 22%, rgba(12,132,228,0.61) 24%, rgba(12,132,228,0.61) 26%, rgba(12,132,228,0.61) 28%, rgba(12,132,228,0.61) 30%, rgba(12,132,228,0.6) 33%, rgba(12,132,228,0.6) 35%, rgba(12,132,228,0.59) 38%, rgba(12,132,228,0.58) 40%, rgba(12,132,228,0.58) 42%, rgba(12,132,228,0.57) 44%, rgba(12,132,228,0.57) 46%, rgba(12,132,228,0.56) 48%, rgba(12,132,228,0.56) 50%, rgba(12,132,228,0.55) 53%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(12,132,228,0.65) 0%,rgba(12,132,228,0.65) 2%,rgba(12,132,228,0.64) 5%,rgba(12,132,228,0.64) 7%,rgba(12,132,228,0.63) 10%,rgba(12,132,228,0.63) 12%,rgba(12,132,228,0.63) 14%,rgba(12,132,228,0.62) 17%,rgba(12,132,228,0.61) 20%,rgba(12,132,228,0.61) 22%,rgba(12,132,228,0.61) 24%,rgba(12,132,228,0.61) 26%,rgba(12,132,228,0.61) 28%,rgba(12,132,228,0.61) 30%,rgba(12,132,228,0.6) 33%,rgba(12,132,228,0.6) 35%,rgba(12,132,228,0.59) 38%,rgba(12,132,228,0.58) 40%,rgba(12,132,228,0.58) 42%,rgba(12,132,228,0.57) 44%,rgba(12,132,228,0.57) 46%,rgba(12,132,228,0.56) 48%,rgba(12,132,228,0.56) 50%,rgba(12,132,228,0.55) 53%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(12,132,228,0.65) 0%,rgba(12,132,228,0.65) 2%,rgba(12,132,228,0.64) 5%,rgba(12,132,228,0.64) 7%,rgba(12,132,228,0.63) 10%,rgba(12,132,228,0.63) 12%,rgba(12,132,228,0.63) 14%,rgba(12,132,228,0.62) 17%,rgba(12,132,228,0.61) 20%,rgba(12,132,228,0.61) 22%,rgba(12,132,228,0.61) 24%,rgba(12,132,228,0.61) 26%,rgba(12,132,228,0.61) 28%,rgba(12,132,228,0.61) 30%,rgba(12,132,228,0.6) 33%,rgba(12,132,228,0.6) 35%,rgba(12,132,228,0.59) 38%,rgba(12,132,228,0.58) 40%,rgba(12,132,228,0.58) 42%,rgba(12,132,228,0.57) 44%,rgba(12,132,228,0.57) 46%,rgba(12,132,228,0.56) 48%,rgba(12,132,228,0.56) 50%,rgba(12,132,228,0.55) 53%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    background: -moz-linear-gradient(top, rgba(8,80,139,1) 0%, rgba(9,97,166,0.65) 23%, rgba(10,118,200,0.34) 52%, rgba(12,152,254,0.86) 99%, rgba(12,153,255,0.86) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(8,80,139,1) 0%,rgba(9,97,166,0.65) 23%,rgba(10,118,200,0.34) 52%,rgba(12,152,254,0.86) 99%,rgba(12,153,255,0.86) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(8,80,139,1) 0%,rgba(9,97,166,0.65) 23%,rgba(10,118,200,0.34) 52%,rgba(12,152,254,0.86) 99%,rgba(12,153,255,0.86) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
#timeline:hover {
    background-color: rgba(12, 132, 228, 0.48);
}
.timeline-img {
    margin: 30px 0 60px 0;
}
/**************************************/
/**********************************/
#screenshots {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #ffffff;
    background-color: rgba(12, 153, 255, 0.87);
}
.screen-img {
    margin: 30px 0 !important;
}
/**********************************/
#presentation {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #ffffff;
    background-color: rgb(11, 100, 174);
}
.carousel .item {
    height: 500px;
}
.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0);
}
.carousel-control:focus {
    outline: 0;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.6;
}
.carousel-control:hover {
    outline: 0;
    color: #ffffff;
    text-decoration: none;
    opacity: 1;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
}
.carousel-control.left {
    background-image: none;
    left: -1%;
}
.carousel-control.right {
    left: auto;
    right: 1.5%;
    background-image: none;
}
@media only screen
and (max-width: 556px) {
    .carousel-control.right {
        left: auto;
        right: 2%;
        background-image: none;
    }
}
/* carousel images */
.carousel-inner .item .c-img{
    height:100%;
    width:100%;
    /*margin-left: 141.62px;*/
}

@media only screen
and (min-width: 1640px) {
    .carousel {
        height: 600px !important;
    }
    .carousel .item {
        height: 600px !important;
    }
}


.carousel-indicators li {
    border: 1px solid rgba(201, 5, 0, 0.77);
    transition: background-color .5s ease-in-out;
}
.carousel-indicators li.active {
    background-color: rgba(14, 66, 142, 0.36);
}
.full-screen-btn {
    margin-top: 60px;
}


/**********************************/
#project:not(.thumbnail){
    padding-top: 60px;
    padding-bottom: 60px;
    width:100%;
    color: #ffffff;
    background-color: #0A4B88;
    transition: all 2s ease-in-out;
}
#project:hover:not(.caption) {
    background-color: #09457b;

}
.main {
    width: 100%;
    margin-right:-20px;

}
.main-section {
    display: none;
}

.fixed-download-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    margin-bottom: 0;
    z-index: 998;
    opacity: 0.5;
    -webkit-transition: opacity linear 350ms;
    -moz-transition: opacity linear 350ms;
}

.fixed-download-btn:hover {
    opacity: 1;
}

.btn-text {

}
.fa-github {
    vertical-align: middle;
    padding-right: 5px;
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}
.tooltip-inner {
    color: #ffffff;
    background-color: #07155c;
    border-radius: 0;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #07155c;
}

.soc-icon {
    padding:3px;
    color: #ffffff;
}
.soc-icon:hover {
    color: #ffaa00
}
footer {
    color: #ffffff;
    background-color: #208df3;
}
.bottom-footer {
    padding: 8px 0 2px 0;
    background-color: #208df3;

}
.animated {
    margin-top: 30px;
}
.animated:hover {
    -webkit-animation: anim-color 5s;
    animation: anim-color 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}

@keyframes anim-color {
    0%   {color:#2196f3;}
    25%   {color:red;}
    50%  {color:orange;}
    75%   {color:yellow;}
    100% {color:#2196f3;}
}

@-webkit-keyframes anim-color {
    0%   {color:#2196f3;}
    25%   {color:red;}
    50%  {color:orange;}
    75%   {color:yellow;}
    100% {color:#2196f3;}
}

.form-control:focus {
    border-color: #e90e00;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 33, 47, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 30, 37, 0.6);
}